* {
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    margin-bottom: 48px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

/* 

NAV 

*/

nav {
    padding-top: 50px;
}

#banner {
    width: 100%;
    height: 300px;
    background-position: center;
    background-color: #F5C518;
}

.img__wrapper {
    width: 100px;
    height: 75px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__img {
    width: 110px;
    height: 110px;
}

.nav--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.nav__links {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.nav__link {
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
    position: relative;
}

/* Link hover effect */

.nav__link--hover:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
    background-color: black;
}

.nav__link--hover:hover:after {
    left: 0;
    width: 100%;
}

.nav__contact {
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    margin-left: 20px;
}

.nav__browse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav__title {
    margin-top: 25px;
    font-size: 50px;
}

.nav__browse--wrapper {
    display: flex;
    align-items: center;
}

.nav__browse--search {
    position: relative;
    background-color: white;
    width: 215px;
    padding: 20px 75px 20px 20px;
    margin: 25px;
    border-radius: 25px;
}

.fa-magnifying-glass {
    position: absolute;
    left: calc(50% + 100px);
    font-size: 30px;
}

/* 

SEARCH

*/

.movie__search {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    font-size: 36px;
    color: #F5C518;
    -webkit-text-stroke: 1px black;
    margin-left: 0;
    margin-right: 0;
}

.search__rating {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 25%;
    padding: 5px 10px 5px 0;
}

/* Filter */

.search__rating--fiilter {
    font-size: 25px;
    margin-bottom: 5px;
}

.search__rating--silder {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    border-radius: 25px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: .2s;
    padding: 0 5px;
}

.search__rating--silder:hover {
    opacity: 1;
}

.search__rating--silder::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #F5C518;
    border-radius: 50%;
    cursor: pointer;
}

/* 

MOVIE RESULTS

*/

.movie__results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.movie__result {
    display: flex;
    flex-direction: column;
    width: calc(80% / 3);
    padding: 5px;
    border: 2px solid #F5C518;
    border-radius: 25px;
    margin: 0 24px;
}

.movie__result--title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 4px;
}

.movie__result--img {
    width: 225px;
    border-radius: 10px;
    transition: all 300ms ease;
}

.movie__result--img:hover {
    transform: scale(1.025);
}

.movie__result--text {
    font-size: 24px;
    margin: 4px 0;
    text-align: center;
}

.text-yellow {
    font-size: 28px;
    font-weight: bold;
    color: #F5C518;
    text-shadow: 1px 1px black;
}

.movie__result--imdbID {
    font-size: 16px;
    margin: 8px 0;
    position: relative;
    left: 85px;
}

.box__middle {
    width: 100%;
    border-top: 2px solid #F5C518;
    border-bottom: 2px solid #F5C518;
    margin: 4px 0;
}

/* 

FOOTER

*/

footer {
    height: 120px;
    background-color: #F5C518;
    width: 100%;
}

.footer__row {
    display: flex;
    flex-direction: column;
}

.fa-up-long {
    margin: 16px 0;
    color: black;
    font-size: 24px;
    transition: all 300ms ease;
}

.fa-up-long:hover {
    transform: translateY(-5px);
}

.footer__links {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.footer__link {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.footer__link--hover:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: black;
    transition: all 300ms ease;
}

.footer__link:hover {
    transform: scale(1.2);
}